.radar-chart .level {
  stroke: grey;
  stroke-width: 0;
}

.radar-chart .axis line {
  stroke: grey;
  stroke-width: 0;
}
.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 10px;
}

/*.legend {
  fill: #ffffff;
}*/

.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}

.radar-chart .tooltip {
  display: none;
}

.radar-chart .area {
  stroke-width: 0;
  fill-opacity: 1;
}
.radar-chart.focus .area {
  fill-opacity: 1;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}