server { # simple reverse-proxy
    listen       $NGINX_PORT;
    server_name  $NGINX_HOST;
    access_log   access.log  main;

    location / {
        proxy_pass      http://app:5000;
    }

    location /api {
        proxy_pass      http://api:8000;
    }
}
