<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicons/favicon-16x16.png">
    <title>D3 Diamond</title>
    <link rel="stylesheet" media="all" href="/static/assets/main.css" />
    <link rel="stylesheet" media="all" href="/static/assets/radar-chart.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <script type="text/javascript" src="/static/assets/radar-chart.js"></script>
</head>

<body>
    <div id="wrapper">
        <a href="/">
        <div id="logo">
            <img id="logoD3" src="/static/assets/logo-d3.svg" alt="Logo d3">
        </div>
        </a>

        <div class="profile-date"></div>
        {% if dates %}
        <h1 id="profile-name">Olá {{user["name"]}}, Escolha por favor entre os meses disponiveis:</h1>
        {% else %}
        <h1 id="profile-name">Olá {{user["name"]}}!</h1>
        {% endif %}

        <ul id="profile">
            {% if dates %}
            {% for date in dates %}
            <a href="/{{date["url"]}}">
                <li class="profile-grade" id="grade-a">
                    <h3 class="competence-title">{{ date["date"] }}</h3>
                </li>
            </a>
            {% endfor %}
            {% else %}
            <h3>Desculpe, mas você ainda não tem avaliações disponíveis! <strong>:(</strong> </h3
            {% endif %}
        </ul>
    </div>
    </body>
</html>
