<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicons/favicon-16x16.png">
    <title>D3 Diamond</title>
    <link rel="stylesheet" media="all" href="/static/assets/main.css" />
    <link rel="stylesheet" media="all" href="/static/assets/radar-chart.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
    <script type="text/javascript" src="/static/assets/radar-chart.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="logo">
            <img id="logoD3" src="/static/assets/logo-d3.svg" alt="Logo d3">
        </div>

        <div class="profile-date"></div>
        <h1 id="profile-name">Olá {{user["name"]}}!</h1>
        
        <div id="profile-chart">
            <div id="chart-container"></div>
            <div id="container-mask"></div>
        </div>

        <ul id="profile">
            {% for score in indices %}
            <li class="profile-grade" id="grade-a">
                <div class="grade">
                    <div class="competence-grade">{{ scores[indices[score]["name"].lower()]["value"]/scores[indices[score]["name"].lower()]["total"] if indices[score]["name"].lower() in scores and "value" in scores[indices[score]["name"].lower()] else '<span style="color:#888">&lt;Vazio&gt;</span>'|safe}}</div>
                    <div class="change {{("positive" if indices[score]["diff"] > 0 else "negative") if "diff" in indices[score] else "neutral"}})"></div>
                </div>
                <h3 class="competence-title">
                    {{score.upper()}}.
                    {{indices[score]["name"].capitalize()}}</h3>
                <p class="competence-description">{{indices[score]["desc"].capitalize()}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script type="text/javascript">

    /* ----------------------------------------------
    // Função que faz o parse e já atualiza a posição 
    ---------------------------------------------- */
    function parseProfileData(profileData) {

        document.getElementById('profile-name').innerHTML = profileData["NAME"];

        var range = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"];
        var grades = 
        [
            ["index", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
        ];

        for (var i = 0; i < range.length; i++) {
            var bigR = range[i].toUpperCase();
            console.log(range[i]);

            var g = document.getElementById('grade-' + range[i]);
            var gd = g.querySelector(".competence-grade");
            var gv = g.querySelector(".change");

            // Aplica a nota
            gd.innerHTML = Number(profileData[bigR]).toFixed(1);

            // Mudar o status da nota
            var variation = profileData["CHANGE_" + bigR];
            var varClass = "neutral";
            // mudar para um switch case
            if (variation == -1) { varClass = "negative"; } else if (variation == 1) { varClass = "positive"; }
            gv.className = "change " + varClass;

            // !!!!!!!!!!!!!!!!!!!!
            // Gera o array notas
            // !!!!!!!!!!!!!!!!!!!!
            var grade = [range[i]]; // Aplica o index
            
              for (var a = 0; a < range.length-1; a++) {  
                if(i==a){
                  grade.push(profileData[range[a].toUpperCase()]);
                  grade.push(profileData[range[a+1].toUpperCase()]);
                }else{
                  grade.push(0);
                }
              // }
            }
            
            grades.push(grade);
            grades[10] = ["j", profileData[range[0].toUpperCase()],0,0,0,0,0,0,0,0,profileData[range[9].toUpperCase()]];
        }
        return grades;
    }

    function showRadar(csv) {
        var data = [];
        var chart = RadarChart.chart();
        var w = h = 280;

        headers = []
        csv.forEach(function(item, i) {
            if (i == 0) {
                headers = item;
            } else {
                newSeries = {};
                item.forEach(function(v, j) {
                    if (j == 0) {
                        newSeries.className = v;
                        newSeries.axes = [];
                    } else {
                        newSeries.axes.push({ "axis": [headers[j]], "value": parseFloat(v) });
                    }
                });
                data.push(newSeries);
            }
        })

        RadarChart.defaultConfig.radius = 3;
        RadarChart.defaultConfig.w = w;
        RadarChart.defaultConfig.h = h;

        var mycfg = {
            color: function(i) {
                c = [
                    '#1A1919',
                    '#111111',
                    '#3E3E3E',
                    '#323232',
                    '#424141',
                    '#605E5E',
                    '#7E7D7D',
                    '#9E9E9E',
                    '#CCCCCC',
                    '#0C0C0C',
                ];
                return c[i];
            },
        }

        RadarChart.draw("#chart-container", data, mycfg);
        var divVal = document.getElementById('chart-container');
    }

    /* ----------------------------------------------
    // Buscar parâmetros na URL 
    ---------------------------------------------- */
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    var profileID = getUrlParameter('u') ? getUrlParameter('u') : "asd97asdhasd87";

    $.get("/api/" + profileID, function(data) {
        showRadar(parseProfileData(data));
    });
    </script>
    
    </body>
</html>
